@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #439028;
  height: 100vh;
  margin-top: 10%;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 8px;
  background-color: white;
  padding: 5px;
  height: 485px;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.number {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 150px;
}

.top-suit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 80px;
  height: 25%;
  flex-direction: column;
  align-content: center;
}

.bottom-suit {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 80px;
  height: 25%;
  rotate: 180deg;
  flex-direction: column;
}

.btn {
  margin-top: 10px;
}
